/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


.navbar-desk, .navbar-desk.affix-top {
    background: 0 0;
}
.navbar-desk {
    border: none;
    width: 100%;
    z-index: 101;
    margin-bottom: 0;
    transition: all .175s ease;
    padding: 54px 0;
}
.navbar-desk.affix {
    background: #3E4651;
    padding: 22px 0 0;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.15);
}
.container-lg .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.is-desktop .navbar-brand, .navbar-desk .navbar-brand {
    left: 50%;
    right: 50%;
    text-align: center;
    position: absolute;
}
.jumbotron {
    color: #fff;
    background: #8454c3;
    background: radial-gradient(ellipse at bottom right,#8454c3 50%,#1d71c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8454c3', endColorstr='#1d71c7', GradientType=1 );
    margin-bottom: 0;
    padding: 10em 0 8em;
}


.jumbotron-homepage.woodgrain {
    height: 560px;
    padding: 160px 0 0;
}

.jumbotron-homepage.woodgrain {
    background-image: url(../images/wood-bg.jpg);
    background-color: #412D25;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.jumbotron-homepage {
    background-size: cover!important;
    height: 810px;
    padding: 221px 0 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.jumbotron-homepage.woodgrain .photo.photo-ipad {
    background: url(../images/ipad-white.png) top center no-repeat;
    width: 814px;
    height: 379px;
    display: block;
    position: relative;
    bottom: 24px;
    left: -51px;
    margin: 0 auto;
}

.jumbotron-fade-top {
    height: 252px;
    top: 0;
    background: url(../images/jumbotron-top-gradient.png) top left repeat-x;
}
.jumbotron-fade-bottom, .jumbotron-fade-top {
    display: table;
    width: 100%;
    position: absolute;
    margin: auto;
    z-index: 1;
}

.jumbotron-fade-bottom {
    max-width: 100%;
    height: 96px;
    bottom: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 50%,rgba(0,0,0,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0 );
}

.jumbotron-fade-bottom, .jumbotron-fade-top {
    display: table;
    width: 100%;
    position: absolute;
    margin: auto;
    z-index: 1;
}

.jumbotron h1 {
    color: inherit;
}

.container-lg .container {
    width: 970px;
}


.jumbotron-homepage h1 {
      font-size: 52px;
      line-height: 60px;
      padding-bottom: .5em;
  }


.jumbotron dl dd.lead, .jumbotron p.lead, dl .jumbotron dd.lead {
    font-family: "open-sans",sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 32px;
    color: #fff;
    opacity: .6;
    padding-bottom: 1em;
}

.jumbotron-homepage h1 {
    font-size: 46px;
    line-height: 60px;
    padding-bottom: .5em;
}

.jumbotron-default h1, .jumbotron-default.woodgrain h1, .jumbotron-homepage.woodgrain h1 {
    font-weight: 700;
}
.jumbotron h1 {
    line-height: 1.25em;
    font-weight: 600;
    font-family: "proxima-nova",sans-serif;
}

.jumbotron .h1, .jumbotron h1 {
    color: inherit;
}

.container-lg .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron .container {
    max-width: 100%;
}

.jumbotron-homepage .btn-lg.btn-round {
    padding: 15px 41px;
}
.jumbotron .btn {
    position: relative;
    z-index: 2;
}

.btn-round {
    border-radius: 100px;
}


.section-news {
    padding: 2em 0;
}
.section-gray, .section-grey {
    background: #fafafa;
    border-bottom: solid 1px #ebeded;
}
.text-center {
    text-align: center;
}

.affix .navbar-brand {
    width: 116px!important;
    height: 43px;
    margin-left: -53px!important;
    top: 17px!important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
