<% include head.html %>

<body>    
  <% include navi.html %>
  <div id="container" class="container-fluid">
    <div class="row">

<!-- 边栏，操作区 -->
<div class="col-sm-3 col-md-2 sidebar">
  <div id="searchBtnGroup" class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active" data-value="false"><input type="radio" name="searchBtn" value="false" checked> 全部数据</label>
      <label class="btn btn-default" data-value="true"><input type="radio" name="searchBtn" value="true"> 条件查询</label>
  </div>
  <ul class="nav nav-sidebar">
    <li><a id="createbtn" href="#">新建</a></li>
    <!--
    <li><a id="importbtn" href="#">导入数据(csv)</a></li>
    <li><a id="downloadbtn" href="/templ/sysorg_tmpl.csv">下载数据模板文件</a></li>
    <li><a id="exportbtn" href="#">导出数据</a></li>
    -->
  </ul>
</div>

<!-- 主操作区域 -->
<div id="mainContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<!--
<div class="tree">
    <ul>
        <li>
            <span><i class="icon-calendar"></i> 2013, Week 2</span>
            <ul>
                <li>
                  <span class="label label-success"><i class="glyphicon glyphicon-minus"></i> Monday, January 7: 8.00 hours</span>
                    <ul>
                        <li>
                          <a href=""><span><i class="glyphicon glyphicon-time"></i> 8.00</span> &ndash; Changed CSS to accomodate...</a>
                        </li>
                    </ul>
                </li>
                <li>
                  <span class="label label-success"><i class="glyphicon glyphicon-minus"></i> Tuesday, January 8: 8.00 hours</span>
                    <ul>
                        <li>
                          <span><i class="glyphicon glyphicon-time"></i> 6.00</span> &ndash; <a href="">Altered code...</a>
                        </li>
                        <li>
                          <span><i class="glyphicon glyphicon-time"></i> 2.00</span> &ndash; <a href="">Simplified our approach to...</a>
                        </li>
                    </ul>
                </li>
                <li>
                  <span class="label label-warning"><i class="glyphicon glyphicon-minus"></i> Wednesday, January 9: 6.00 hours</span>
                    <ul>
                        <li>
                          <a href=""><span><i class="glyphicon glyphicon-time"></i> 3.00</span> &ndash; Fixed bug caused by...</a>
                        </li>
                        <li>
                          <a href=""><span><i class="glyphicon glyphicon-time"></i> 3.00</span> &ndash; Comitting latest code to Git...</a>
                        </li>
                    </ul>
                </li>
                <li>
                  <span class="label label-important"><i class="glyphicon glyphicon-minus"></i> Wednesday, January 9: 4.00 hours</span>
                    <ul>
                        <li>
                          <a href=""><span><i class="glyphicon glyphicon-time"></i> 2.00</span> &ndash; Create component that...</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="icon-calendar"></i> 2013, Week 3</span>
            <ul>
                <li>
                  <span class="label label-success"><i class="glyphicon glyphicon-minus"></i> Monday, January 14: 8.00 hours</span>
                    <ul>
                        <li>
                          <span><i class="glyphicon glyphicon-time"></i> 7.75</span> &ndash; <a href="">Writing documentation...</a>
                        </li>
                        <li>
                          <span><i class="glyphicon glyphicon-time"></i> 0.25</span> &ndash; <a href="">Reverting code back to...</a>
                        </li>
                    </ul>
                </li>
        </ul>
        </li>
    </ul>
</div>
-->
    <!-- 查询面板 -->
    <div id="searchPanel" class="panel panel-default fade search-panel">
      <div class="panel-heading">查询条件</div>
      <div class="panel-body">
          <form id="detail-search-form" class="form-horizontal">
            <fieldset>
              <div class="form-group col-md-6">
                  <label class="control-label col-sm-3">部门名称</label>
                <div class="controls col-sm-8">
                    <input name="moduleName" class="form-control">
                </div>
              </div>
            </fieldset>
          </form>
      </div>
      <div class="panel-footer" style="height: 50px;"><button id="detailSearchBtn" class="btn btn-primary pull-right">查询</button></div>
    </div><!-- 查询面板 -->

<!-- 显示模板 -->
<script type="text/html" id="cellTableTmpl">
  <thead> 
    <tr>
      <th class="action-ctl"><input type="checkbox" data-sfcontrol="selectAll"><a>全选</a></th>
    <@ 
    var titles = [{field: 'orgFullName' , title : '组织名称', canSort: true }
      , { field: 'deptType', title: '部门类别', canSort: true }
      , { field: 'city', title: '所属地市', canSort: true }
      , { field: 'desc', title: '描述', canSort: false }];

    for(i = 0 ; i<= titles.length -1 ; i++){
      title = titles[i];

      console.log("sort.by =%s, title.field=%s", sort.by , title.field);
    @>
      <th>
        <@ if(title.canSort){ @>
          <a href="#sortby=<@=title.field @>&sortorder=<@=-(sort.order) @>" class="sortlink"> 
        <@ } else { @>
          <a> 
        <@ } @>
            <@=title.title @>
            <@ if ( sort.by === title.field){ @>
             <i class="glyphicon <@= sort.order === '-1' ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up' @>"/>
            <@ } @>
            </a></th>
    <@ } @>
      <th class="action-ctl"><a>操作</a></th>
    </tr>
  </thead> 
  <tbody id="sysorgListTb">
   <@ 
    for( i = 0 ; i<= cells.length - 1; i++) { 
        var cell = cells[i];
   @>
      <tr data-_id="<@=cell._id @>">
        <td class="action-ctl fade"><input type="checkbox"></td>
        <td><@=cell.orgFullName @></td>
        <td><@=cell.deptType @></td>
        <td><@=cell.city @></td>
        <td><@=cell.desc @></td>
        <td class="action-ctl fade"><a class="action action-edit">修改<i class="icon-edit"/></a> | <a class="action action-remove">删除<i class="icon-remove"/></a></td></tr>
   <@ } @>
  </tbody>
</script>

<!-- 分页器 -->
<script type="text/html" id="pagebarTpl">
    <ul class="pagination">
      <li><a>共有记录：<@=count @>条</a></li>
      <li <@=(currentIdx===0 ? 'class="active"':"" ) @> >
        <a href="#skipto=0">第一页</a></li>
      <li <@=(startPage === pre ? 'class="active"':"" ) @> >
        <a href="#skipto=<@=pre @> ">...</a></li>
        <@ for( i = startPage ; i<= endPage; i++){ @>
          <li <@=(currentIdx === i ? 'class="active"':"" ) @> >
            <a href="#skipto=<@=i@>"><@=i@></a></li>
        <@ } @>
        <li <@= (endPage === next ? 'class="active"':"" ) @> >
          <a href="#skipto=<@=next@>">...</a></li>
        <li><a href="#skipto=<@=pageCnt-1 @>">最后一页</a></li>
    </ul>
</script> <!-- 显示模板 -->

  <!-- 组织结构树视图 -->
  <div id="treeView"></div>

  <!-- 数据查询结果表格 -->
  <div id="cellDiv" class="panel panel-default">
    <div class="panel-heading">组织结构数据列表
      <form id="search-form" class="form pull-right">
        <input name="moduleName" type="text" class="form-control input-sm" placeholder="编号或名称查询...">
      </form>
      <div id="editingBtnGroup" class="btn-group btn-group-sm pull-right" data-toggle="buttons">
        <label class="btn btn-default active"><input type="radio" name="editingBtn" checked value="false"> 浏览</label>
        <label class="btn btn-default"><input type="radio" name="editingBtn" value="true"> 编辑</label>
      </div>
    </div>
    <table id="cellTable" class="table table-bordered table-hover"></table>
    <div class="panel-footer"><div id="pagebar"></div></div>
  </div>

  

<script type="text/html" id="treeViewTmpl">
  <div class="tree well">
      <ul>
      <@ function showNode(i, treenode){ @>
          <li>
            <@ if(treenode.suborgs){ @>
              <span>
              <i class="glyphicon glyphicon-minus"></i> 单位名称</span> 
              <a href=""><@=treenode.orgFullName @></a>
            <@ }else{ @>
              <span>
              <i class="glyphicon glyphicon-leaf"></i> 部门名称</span> 
              <a href=""><@=treenode.orgFullName @></a>
            <@ } @>

            <@ if(treenode.suborgs) { @>
                <ul>
                  <@ $.each(treenode.suborgs, showNode); @>
                </ul>
            <@ } @>

          </li>
      <@ } @>
      <@ 
      console.log(tree);
      $.each(tree, showNode); @>
      </ul>
  </div>
</script>
</div><!-- 数据查询结果表格 -->
  </div>
</div>
  
  <!-- 确认对话框 -->
  <div id="confirmDlg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content"></div></div>
  </div>

  <!-- 导入信息对话框 -->
  <div id="importDlg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content"></div></div>
  </div>
  
  <!-- sysorg修改对话框 -->
  <div id="moduleDlg" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="header-text">新建/修改模块信息</h3>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="buildingNavtab">
              <li class="active"><a href="#b1" data-toggle="tab">基本信息</a></li>
          </ul>
          <div style="padding: 10px;">
            <form id="module-form" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">部门名称</label>
                <div class="col-sm-10">
                  <input id="orgName" type="text" name="orgName" class="form-control col-sm-6">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">上级部门</label>
                <div class="col-sm-10">
                  <select id="parentFullName" name="parentFullName" class="form-control" data-sfcontrol="sysorg">
                      <option value="">顶级部门</option>  
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">部门全称</label>
                <div class="col-sm-10">
                  <input id="orgFullName" type="text" name="orgFullName" class="form-control col-sm-6" readonly>
                   <p class="help-block">根据部门名称和所属部门自动生成</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">部门描述</label>
                <div class="col-sm-10">
                  <input type="text" name="desc" class="form-control col-sm-6">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">所属地市</label>
                <div class="col-sm-10">
                  <select name="city" class="form-control" data-sfcontrol="citySelect"></select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">部门类别</label>
                <div class="col-sm-10">
                  <%- commons.deptTypeSelector('deptType', { allowEmpty : false }) %>
                </div>
              </div>
            </form>
          </div>
        </div>
      <div class="modal-footer">
        <button class="btn cancle" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="saveBtn" class="btn btn-primary">确定</button>  
      </div>
    </div>
  </div><!-- sysorg编辑修改对话框 -->

  <!-- JS文件放在靠近HTML页面尾部的地方可以加快页面显示的速度 -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/sharepage.base.js"></script>
  <script src="js/sharepage.js"></script>
  <script src="js/sharepage.ext.js"></script>
  <script src="js/sfmiscommons.js"></script>
  <script src="js/sysorg.js"></script>

<script type="text/javascript">
  
</script>


<% include foot.html %>

